/*conf general*/

@import"_general";

/**/

/*============CONTACTO.HTML============*/

/*-----PRESENTACION-----*/
.presentacion {
    text-align: center;
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    overflow: hidden;
}

/*-----FIN PRESENTACION-----*/

/*-----FORMULARIO-----*/

#formContacto {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    box-sizing: border-box;

    form {
        width: 1000px;
        max-width: 1200px;
        border: $color-secundario-oscuro 3px solid;
        padding: 3em;

        h4 {
            margin: 2em 0% 2em 0%;
            color: $color-terciario;
            background-color: $color-secundario;
            padding: 0% 1em 0% 1em;

        }

        #formContacto__enviar {
            display: block;
        }

        textarea {
            margin-bottom: 1rem !important;
        }

        label {
            color: $color-terciario;
        }

        .inputText{
            transition: 0.3s;
        }

        .inputText:focus {
            transform: scale(1.02);
            background-color: $color-secundario;
            color: $color-terciario;
        }

        .inputText:hover{
            transform: scale(1.02);
        }


        select {
            background-color: $color-secundario;
            color: $color-terciario;
        }

        #form-check2{
            margin-bottom: 2em;
        }

    }

}


/*-----FIN FORMULARIO-----*/
/*-----CONTACTO-----*/

.contacto {
    margin-top: 3em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;

    #flechaAtencionContacto{
        width: 50px;
        rotate: 90deg;
        transform:rotate(90deg);
        -ms-transform:rotate(90deg); /* IE 9 */
        -moz-transform:rotate(90deg); /* Firefox */
        -webkit-transform:rotate(90deg); /* Safari and Chrome */
        -o-transform:rotate(90deg); 
        margin-bottom: 1em;
        filter: invert(1);
    }
}

/*-----FIN CONTACTO-----*/
/*============FIN CONTACTO.HTML============*/