/*conf general*/

@import"_general";

/**/
/*============CURSOS.HTML============*/

/*FORMATO GENERAL DE CURSOS.HTML*/

#tablaCentrada {
    display: flex;
    justify-content: center;
}

.tablaCentro {
    display: flex;
    justify-content: center;
}


/*FIN FORMATO GENERAL*/

.pruebaSocial2 {
    padding-left: 10%;
    padding-right: 10%;

    .testimoniosVideos {
        display: flex;
        justify-content: space-evenly;

        video {
            width: 1fr;
        }
    }


    /*responsividad de los testimonios videos*/

    @media only screen and (max-width: 767px) and (orientation: landscape) {

        .testimoniosVideos {
            display: flex;
            flex-direction: column;
        }

    }

    @media only screen and (max-width: 767px) and (orientation: portrait) {
        .testimoniosVideos {
            display: flex;
            flex-direction: column;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 1020px) and (orientation: landscape) {
        .testimoniosVideos {
            display: flex;
            flex-direction: row;
            width: 100%;

            video {
                margin-left: 1em;
            }
        }
    }

    /*fin responsividad de la testimonios videos*/
}

/*-----INFORMACION-----*/

.informacion {
    background-image: linear-gradient(to top, rgb(4, 4, 4), #0C0C0C);
    background-size: cover;
    padding-left: 10%;
    padding-right: 10%;
}

/*INFORMACIÓN_metodología*/

#tablaMetodología th {
    text-transform: uppercase;
    font-weight: bolder;
    color: $color-terciario;
    text-align: center;
    background-color: $color-secundario-oscuro;
    width: 1fr;
    padding-top: 1em;
    padding-bottom: 1em;
}


#tablaMetodología tr td {
    border-bottom: 2px;
    border-bottom-color: rgb(12, 12, 12);
    border-bottom-style: solid;
    border-collapse: separate;
    text-align: center;
    margin-left: 2em;
    color: $color-secundario;
    padding: 1em;
    background-color: $color-dark;
    width: 1fr;
}

#trPrincipal:hover{
    filter: none;
}

#tablaMetodología tr {
    margin-top: 3em;
}

.trSecundario:hover{
filter: brightness(1.25);
}


#tablaMetodología {
    width: 1000px;
    background-color: transparent;
}

/*FIN INFORMACIÓN_METODOLOGÍA*/

/*INFORMACIÓN_TABLADESC*/



#tablaVentajas {
    display: grid;
    grid-template-areas: "a b c d e f"
        "g h i j k m"
        "n l o p q s"
        "t v w x y z"
        "za zb zc zd ze zf";
    margin-bottom: 2em;
    text-align: center;
    align-self: center;
    max-width: 1000px;
}

.item {
    border: solid black 1px;
    border-collapse: collapse;
    text-align: center;
    background-color: $color-dark;
    color: $color-terciario;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 1fr;
}

.itemCabeza {
    font-size: 18px;
    font-weight: bold;
    color: $color-secundario;
    background: $color-dark;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
    padding: 0.5em;
    max-height: 100px;
    min-height: 80px;
    width: 1fr;
}

#itemNone {
    border: hidden;
    background-color: transparent;
}

.item1 {
    grid-area: a;
}

.item2 {
    grid-area: b;
}

.item3 {
    grid-area: c;
}

.item4 {
    grid-area: d;
}

.item5 {
    grid-area: e;
}

.item6 {
    grid-area: f;
}

.item7 {
    grid-area: g;
}

.item8 {
    grid-area: h;
}

.item9 {
    grid-area: i;
}

.item10 {
    grid-area: j;
}

.item11 {
    grid-area: k;
}

.item12 {
    grid-area: m;
}

.item13 {
    grid-area: n;
}

.item14 {
    grid-area: l;
}

.item15 {
    grid-area: o;
}

.item16 {
    grid-area: p;
}

.item17 {
    grid-area: q;
}

.item18 {
    grid-area: s;
}

.item19 {
    grid-area: t;
}

.item20 {
    grid-area: v;
}

.item21 {
    grid-area: w;
}

.item22 {
    grid-area: x;
}

.item23 {
    grid-area: y;
}

.item24 {
    grid-area: z;
}

.item25 {
    grid-area: za;
}

.item26 {
    grid-area: zb;
}

.item27 {
    grid-area: zc;
}

.item28 {
    grid-area: zd;
}

.item29 {
    grid-area: ze;
}

.item30 {
    grid-area: zf;
}


/*responsividad de la tabla ventajas*/


@media only screen and (max-width: 767px) and (orientation: landscape) {

    #tablaVentajas {

        .item4,
        .item10,
        .item16,
        .item22,
        .item28 {
            display: none;
        }

        .item5,
        .item11,
        .item17,
        .item23,
        .item29 {
            display: none;
        }
    }

    .itemCabeza {
        font-size: 100%;
    }
}

@media only screen and (max-width: 767px) and (orientation: portrait) {

    #tablaVentajas {

        .item4,
        .item10,
        .item16,
        .item22,
        .item28 {
            display: none;
        }

        .item5,
        .item11,
        .item17,
        .item23,
        .item29 {
            display: none;
        }
    }

    .itemCabeza {
        font-size: 100%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1020px) and (orientation: landscape) {

    .item4,
    .item10,
    .item16,
    .item22,
    .item28 {
        display: none;
    }
}

/*fin responsividad de la tabla ventajas*/

/*FIN INFORMACION_TABLADESC*/

/*-----FIN INFORMACIÓN-----*/

/*-----DESCRIPCIONPRODUCTO-----*/

/*-----DESCRIPCIONPRODUCTO_METODOESTUDIO-----*/


#metodoEstudio {
    display: flex;
    justify-content: center;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

#planEstudio {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
    gap: 1rem;
    width: 100%;
    height: auto;
    margin-top: 2em;
    padding-left: 0%;
    justify-self: center;
}

.modulo {
    list-style: none;
    border: solid $color-primario 1px;
    text-align: center;
    background-color: $color-dark;
    display: flex;
    flex-direction: column;

    h4 {
        height: 40%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        background: $color-secundario;
        line-height: 100%;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .temario {
        @extend .lista--formateada;
    }

}

.modulo:hover {
    transform: scale(1.1);
    background-color: $color-secundario-oscuro;
    transition: all 0.1s ease-out;
}

.temario {
    padding-top: 1em;
    padding-bottom: 1em;
}

#planEstudio li {
    color: $color-terciario;
}

/*-----FIN DESCRIPCIONPRODUCTO_METODOESTUDIO-----*/
/*-----DESCRIPCIONPRODUCTO_CONTENIDOS-----*/

.descripcionProducto p {
    text-align: center;
}

.descripcionProducto {
    padding-left: 10%;
    padding-right: 10%;
}

.contenidoMenu h4 {
    font-size: 20px;
    color: $color-secundario;
}

.contenidoMenu {
    height: auto;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
}


#cuadroContenido {
    height: auto;
    width: 800px;
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
}

#cuadroContenido h3 {
    width: auto;
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: $color-terciario;
    margin-bottom: 0.5em;
}

#cuadroContenido p {
    width: auto;
    text-align: center;
    color: $color-terciario;
}

.contenidos {
    padding-top: 2em;
    display: flex;
    justify-content: center;
    background-color: $color-dark;
}

.descSubmenu {
    width: 90%;
    float: left;
    text-align: left;
    transition-property: opacity;
    transition-duration: 3s;
}

.descSubmenu li {
    padding-left: 2em;
}

/*tablaDesc*/

.tablaDesc li {
    background-color: $color-dark;
    list-style: none;
    height: 40px;
}


.tablaDesc li ul li {
    color: $color-terciario;
}

.tablaDesc__cuadroContenidos--formato {
    display: block;

    button {
        width: 100%;
        border-radius: 0%;
        padding-top: 1em;
        padding-bottom: 1em;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .btn-primary {
        background-color: $color-secundario;
        border: none;
    }

    ul {
        width: 100%;
        align-items: center;

        li {
            .dropdown-item {
                background-color: $color-terciario;
                padding: 0%;
                padding-top: 0.5em;
                padding-bottom: 0.5em;
                margin: 0%;
                color: $color-dark !important;
            }
        }
    }
}

/*-----FIN DESCRIPCIONPRODUCTO_CONTENIDOS-----*/

/*-----FIN DESCRIPCIONPRODUCTO-----*/

/*-----pruebasocial2-----*/
/*-----FIN pruebasocial2-----*/

/*-----DISCURSO NEUTRAL-----*/

.discursoNeutral {
    padding-left: 10%;
    padding-right: 10%;
}

/*-----FIN DISCURSO NEUTRAL-----*/

/*============FIN CURSOS.HTML============*/