/*conf general*/

@import"_general";

/**/

/*============INDEX.HTML============*/

/*-----ATENCION-----*/

.atencion #atencionArriba {
    display: flex;
    justify-content: center;
}


#imagenPrincipal {
    order: 3;
}

#flechaAtencion {
    order: 1;
    width: 100px;
    height: 100px;
    visibility: hidden;
    filter: invert(1);
}

#atencionAbajo {
    width: 100%;
}

#atencionAbajo h5 {
    display: block;
    font-size: 30px;
    margin-bottom: 3rem;
}

#videoMain video {
    border-radius: 24px;
    margin-top: 2em;
    width: 100%;
    align-self: center;
}

#videoMain {
    max-width: 460px;
    align-self: center;
    display: flex;
    justify-content: center;
}

#problema,
#agitacion,
#solucion {
    margin-left: 2%;
    margin-right: 2%;
}

#problema p,
#agitacion p,
#solucion p {
    background-color: $color-dark;
    line-height: 2em;
    letter-spacing: 1px;

}

.atencion {
    padding-bottom: 0%;
    background-image: linear-gradient(black to url(../imagenes/atencion.jpg));
    background-color: $color-dark;
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
}

/*-----FIN ATENCION-----*/
/*-----PERSUASION-----*/

#firstTitle{
    margin-top: 0%;
}

.persuasionCont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

    #right {
        display: inline;
        text-align: left;
        width: 60%;
        order: 2;
        background-color: transparent;
    }

    #left {
        text-align: left;
        display: inline;
        width: 60%;
        order: 1;
        background-color: transparent;
    }
}


.persuasion__imagen--tamaño {
    width: 300px;
    align-self: center;

}

#imgRight {
    margin-left: 1em;
    order: 2;

}

#imgLeft {
    margin-right: 1em;
    order: 1;

}

.persuasion .tituloMediocre {
    margin-bottom: 2em;
    margin-top: 2em;
}

#solucion .elemento--centrado main {
    margin-bottom: 4em;
    width: 800px;
    text-align: center;
    color: $color-terciario;
    letter-spacing: 2px;
    background-color: $color-secundario-oscuro;
    padding: 1em;
    border: 1px solid $color-terciario;
}

#solucionCont {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;


    p {
        width: 75%;
        background: transparent;
        display: inline-block;
        order: 2;
        margin: 1em;
        flex-grow: 1;
    }

    #imagenProfe {
        text-align: center;
        order: 1;
        height: 330px;
        margin: 0.5em;

        figure {
            border: 5px solid $color-secundario-oscuro;
            padding-bottom: 0% !important;
            margin-bottom: 0% !important;
        }

    }


    #imagenDelProfe {
        width: 100%;
    }

    #figcaption {
        color: $color-terciario;
        background-color: $color-secundario-oscuro;
        width: 100%;
        font-size: 20px;
        font-weight: bold;
        position: relative;
        right: 0%;
        padding: 0%;
    }
}

/*responsividad de solucion cont*/



/*fin responsividad de solucion cont*/


/*-----FIN PERSUASION-----*/
/*-----BENEFICIOS-----*/

.beneficios {
    padding-bottom: 0%;

    background-color: $color-dark;

    p {
        background-color: #111020;
        margin: 0%;
        font-family: $fuente-principal;
    }
}

#beneficiosli {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style: none;
    padding: 0%;
    margin: 0%;
}


.beneficio__caja--formato {
    text-align: center;
    width: 333.6px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition-duration: 0.5s;


    p {
        padding: 0.3em;
    }

    .beneficioCircular {
        width: 80px;
        height: 80px;
        overflow: hidden;
        border-radius: 100%
    }
}

.beneficio__caja--formato:hover{
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}



#beneficio1 {
    width: 100px;
}

#beneficio2 {
    width: 180px;
    position: relative;
    top: 0%;
    right: 45px;
}

#beneficio3 {
    width: 80px;
    position: relative;
    top: 0%;
    right: 5px;
    filter: invert(1);
    -webkit-filter: invert(1);
}


/*-----FIN BENEFICIOS-----*/

/*-----OBJECIONES-----*/

.objecionCaja_p {
    display: block;
    background-color: $color-dark;
    color: $color-terciario;
    margin: 0%;
    padding: 5px;
    margin-top: 1em;
}

#objecion1,
#objecion3 {
    background-image: linear-gradient(to right, $color-secundario, $color-primario);
    margin-top: 1em;
    margin-bottom: 1em;
    transition: all 0.3s;
    z-index: 4;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: auto;
}

#objecion2,
#objecion4 {
    background-image: linear-gradient(to right, $color-primario, $color-secundario);
    margin-top: 1em;
    margin-bottom: 1em;
    transition: all 0.3s;
    z-index: 4;
    display: flex;
    align-content: center;
    justify-content: space-between;
    height: auto;
}

.objecionCaja_p:hover {
    cursor: default;
}

.imagenBeneficio img {
    max-width: 100px;
    max-height: 100px;
}

.textboxLeft {
    width: 85%;
    padding-left: 2em;
    justify-content: center;
    align-items: center;
    text-align: start;
    padding-right: 2em;
    order: 1;
}

.textboxRight {
    width: 85%;
    order: 2;
    padding-right: 2em;
    justify-content: center;
    align-items: center;
    text-align: end;
    padding-left: 2em;
}

.imagenBeneficio {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#objecion1 .imagenBeneficio,
#objecion3 .imagenBeneficio {
    @extend .imagenBeneficio;
    order: 2;
}

#objecion2 .imagenBeneficio,
#objecion4 .imagenBeneficio {
    @extend .imagenBeneficio;
    order: 1;
}

.objeciones__objecionCaja--formato {
    max-width: 1200px;
    display: flex;
    align-items: center;
    padding-bottom: 1em;
    border: none !important;
    height: auto;
}

.objeciones {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.objeciones__objecionCaja--formato:hover {
    filter: brightness(120%);
    transform: scale(1.01) !important;
    box-shadow: black 0px 0px 10px;
    cursor: default;
}

/*-----TESTIMONIOS-----*/

.testimonios {
    background-color: $color-dark;
    padding-bottom: 0%;
}


/*-----FIN TESTIMONIOS-----*/

/*-----PYR-----*/

.pyrar h4 {
    font-size: 25px;
    display: inline;
    text-decoration: underline black;
    background-color: none;
}

.pyrar h4:hover {
    font-size: 28px;
}


/*bootstrap pyr*/

.pyr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center !important;

    p,
    .pyrButton {
        width: 100%;
        max-width: 1200px;
    }

}

.bootstrapPyr {
    width: 100%;
    max-width: 1200px;
    color: $color-terciario;
    background-color: $color-secundario;
    border: 2px solid $color-secundario-oscuro;

    .btn {
        width: 100%;
        max-width: 1200px;
    }
}

.card-body {
    margin-bottom: 1em;
    text-align: center;
    width: 100% !important;
    max-width: 1200px;
}

#collapsePyr1,
#collapsePyr2,
#collapsePyr3,
#collapsePyr4 {
    width: 100%;
    max-width: 1200px;
}

/*fin bootstrap pyr*/

/*-----FIN PYR-----*/

/*============FIN INDEX.HTML============*/